.all{
	width: 100%;
	heigth:600px;
	background-color: aliceblue;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.a{
	width:80%;
	height:30px;
	margin-top: 5px;
	margin-left:20px;
	padding-left: 10px;
	padding-top: 5px;
}
.b{
	width:80%;
	height:70px;
	margin-left:20px;
	margin-top: 5px;
}
.c{
	width:80%;
	height:400px;
	margin-top: 5px;
	text-align: center;
	font-family: "宋体";
	}